In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], 
                  [0.75, -1.3]], index=['a', 'b', 'c', 'd'], columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [2]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [3]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [4]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [5]:
df.idxmax()

one    b
two    d
dtype: object

In [6]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [7]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [8]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [10]:
import pandas_datareader as web
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
price = pd.DataFrame({ticker: data['Adj Close']
                      for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                       for ticker, data in all_data.items()})
returns = price.pct_change()
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2019-09-09  0.004267  0.014441 -0.011359 -0.000432
2019-09-10  0.011813  0.017181 -0.010471  0.001320
2019-09-11  0.031795 -0.009997  0.000294  0.011750
2019-09-12 -0.002236  0.000139  0.010285  0.011539
2019-09-13 -0.019454  0.000348 -0.001454  0.004302

In [11]:
returns['MSFT'].corr(returns['IBM'])

0.4915078464719329

In [12]:
returns['MSFT'].cov(returns['IBM'])

8.792653905903328e-05

In [13]:
returns.MSFT.corr(returns.IBM)

0.4915078464719329

In [14]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.386201  0.457512  0.463491
IBM   0.386201  1.000000  0.491508  0.407190
MSFT  0.457512  0.491508  1.000000  0.539238
GOOG  0.463491  0.407190  0.539238  1.000000

In [15]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000267  0.000078  0.000108  0.000118
IBM   0.000078  0.000153  0.000088  0.000078
MSFT  0.000108  0.000088  0.000209  0.000121
GOOG  0.000118  0.000078  0.000121  0.000242

In [16]:
returns.corrwith(returns.IBM)

AAPL    0.386201
IBM     1.000000
MSFT    0.491508
GOOG    0.407190
dtype: float64

In [17]:
returns.corrwith(volume)

AAPL   -0.062907
IBM    -0.151800
MSFT   -0.090255
GOOG   -0.019470
dtype: float64

In [19]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [20]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [21]:
pd.value_counts(obj.values, sort=False)

d    1
b    2
a    3
c    3
dtype: int64

In [22]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [23]:
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [24]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [25]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2])

In [26]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [27]:
result = data.apply(pd.value_counts).fillna(0)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0